[svn-git-remote "svn"]
	url = file:///c:/SVNRepos/TD_REPO
	fetch = trunk:refs/svn/root/trunk
	branches = branches/*:refs/svn/root/branches/*
	tags = tags/*:refs/svn/root/tags/*
	additional-branches = shelves/*:refs/svn/root/shelves/*
[misc]
	program-creation-version = ?
[core]
	processExternals = false
	processIgnores = true
	processEols = true
	processTags = false
	processOtherProperties = false
	gitSvnAttributesThreshold = 32
[svn-remote-settings "svn"]
	snapshot = false
	minimalRevision = 1
[translator "svn"]
	path = .
